nav
    a(href='/') Home
    br
    br
    a(href='/recipe/add-recipe') Add Recipe
    br
    br
    if user
        a(href="/user/logout") Logout
    else
        a(href='/user/register') Register
        br
        br
        a(href='/user/login') Login
        br
        br

